package {{package}};

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import {{apiModelImport}};

/** TODO: schema "{{className}}" not found in spec. */
@JsonIgnoreProperties(ignoreUnknown = true)
public class {{className}} extends ApiModel {}
