<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- Suppress verbose Swagger Parser logs -->
    <logger name="io.swagger" level="WARN"/>
    <logger name="org.apache.commons" level="WARN"/>
</configuration>
