package {{package}};

import feign.RequestInterceptor;
import feign.RequestTemplate;

public class {{className}} implements RequestInterceptor {
    private final String apiKey;

    public {{className}}(String apiKey) {
        this.apiKey = apiKey;
    }

    @Override
    public void apply(RequestTemplate template) {
        // TODO: ajuste o nome do header conforme a documentacao da API
        template.header("X-Api-Key", apiKey);
    }
}
